USE [master]
GO
/****** Object:  Database [JobLinKDB]    Script Date: 19.12.2021 22:56:50 ******/
CREATE DATABASE [JobLinKDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobLinKDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobLinKDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobLinKDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobLinKDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobLinKDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobLinKDB]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 19.12.2021 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpProfiles]    Script Date: 19.12.2021 22:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpProfiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Birthdate] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[CityID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Descript] [nvarchar](500) NULL,
	[Profile] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmpProfiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.12.2021 22:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([ID], [Name]) VALUES (1, N'--Seçiniz--')
INSERT [dbo].[Cities] ([ID], [Name]) VALUES (2, N'İstanbul')
INSERT [dbo].[Cities] ([ID], [Name]) VALUES (3, N'Ankara')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[EmpProfiles] ON 

INSERT [dbo].[EmpProfiles] ([ID], [UserID], [Name], [Surname], [Birthdate], [Country], [CityID], [Email], [Descript], [Profile]) VALUES (1, 1, N'Burak', N'İnce', N'12.19.2021', N'Türkiye', 2, N'brknce19@gmail.com', N'asdasdfkdskfsıdjfısdjfıdsjf', N'')
SET IDENTITY_INSERT [dbo].[EmpProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Email], [Password], [UserType]) VALUES (1, N'brknce19@gmail.com', N'1234', N'İş Arayan')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[EmpProfiles]  WITH CHECK ADD  CONSTRAINT [FK_EmpProfiles_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[EmpProfiles] CHECK CONSTRAINT [FK_EmpProfiles_Cities]
GO
ALTER TABLE [dbo].[EmpProfiles]  WITH CHECK ADD  CONSTRAINT [FK_EmpProfiles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[EmpProfiles] CHECK CONSTRAINT [FK_EmpProfiles_Users]
GO
USE [master]
GO
